.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#password {
    padding: 2px;
    width: 250px;
    font-size: 20px;
}

#progress-container {
    width: 260px;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 15px;
}

#progress-bar {
    transition: all 0.25s ease-in-out;
    border-radius: 5px;
}