#rating-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#star-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.star-empty::before {
    content: '☆';
    cursor: pointer;
}

.star-filled::before {
    color: rgba(231, 198, 10, 0.685);
    cursor: pointer;
    content: '★';
}

.star {
    font-size: 28px;
    margin-left: 4px;
}

#smiley-container {
    text-align: center;
    font-size: 45px;
}